.FormMovie {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.FormMovie h1 {
  text-align: center;
}

.FormMovie .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.FormMovie .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
}

.FormMovie .form-data input:not([type="submit"]),
.FormMovie .form-data textarea {
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid grey;
}
.FormMovie .form-data.btn-submit {
  justify-content: flex-end;
}
.FormMovie .form-data.btn-submit input {
  background-color: rgb(168, 235, 142);
  border-radius: 10px;
  width: 100px;
  padding: 5px 10px;
  border: 1px solid rgb(168, 235, 142);
  margin-top: 10px;
}